.container {
  width: 500px;
  border: 5px;
  border-style: solid;
  border-color: blue;
  margin: auto;
  padding: 10px;
}

.kiri {
  width: 200px;
  height: 100px;
  background-color: chocolate;
  float: left;
}

.kanan {
  width: 150px;
  height: 100px;
  background-color: red;
  float: left;
}

.tengah {
  width: 150px;
  height: 100px;
  background-color: green;
  float: left;
}
