body {
    height: 2000px;
}

div {
    width: 200px;
    height: 200px;
    margin: auto;
}

.satu {
    background-color: red;
}

.dua {
    background-color: blue;
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0px;
    right: 0px;
}

.tiga {
    background-color: chartreuse;
}

.container {
    width: 600px;
    height: 650px;
    border: 10px;
    border-color: #AF47D2;
    border-style: solid;
    position: relative;
}
